textarea.form-control {
    height: 150px;
    font-family: "Consolas","Monaco","Courier New","Courier",sans-serif;
    font-size: 11px;
}

.confound-button-container {
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #dedede;
    width: 100%;
    box-sizing: border-box;
}

#countInfo {
    margin-top: 10px;
}

.counfound-options {
    margin-top: 10px;
    margin-bottom: 15px;
}

.counfound-options label {
    font-weight: normal;
    display: block;
}

.counfound-options label.disabled {
    color: #aaa;
}

.counfound-options input {
    margin-right: 5px;
}